<div class="container">
  <div id="title-bar" class="d-flex flex-row">
    <h2><%= @article.title %></h2>
    <%= link_to (fa_icon "trash").html_safe,
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>
  <p><%= @article.content %></p>
  <%= link_to (fa_icon "edit").html_safe, edit_article_path %>
</div>
